<!DOCTYPE html>
<html>
<head>
  <title>GenderClassification</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Paytone+One' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Montserrat+Alternates' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
 <br>
<%= link_to 'Train new person', new_person_path %> | <%= link_to 'Home', root_path %> | <%= link_to 'Classify an unkown gender', guess_path %> | <%= link_to 'Seed (sort of) random training data', seed_path %> | <%= link_to 'Reset all training data', reset_path %>
<%= yield %>
</div>
</body>
</html>
